.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;

  @include tablet {
    grid-template-columns: 1fr;
  }

  [data-container] {
    width: 90%;
  }

  main {
    padding-block: 2rem 4rem;
  }

  &-section {
    &.profile,
    &.add-job {
      background: white;
      padding: 3rem 2.5rem;

      .form {
        width: min(25rem, 100%);
        margin: 0 auto;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  min-height: $headerHeight;
  background: white;
  z-index: 1;

  [data-container] {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    & > *:first-child {
      justify-self: flex-start;
    }

    & > *:last-child {
      justify-self: flex-end;
    }
  }

  h1 {
    @include tablet {
      display: none;
    }
  }

  .logo {
    display: none;

    @include tablet {
      display: unset;
    }

    @include mobileL {
      svg {
        font-size: 2.5rem;
      }
    }
  }
}

.hamburger {
  background: none;
  border: none;
  font-size: 1.75rem;
  color: color(primary, 500);
  transition: 150ms ease;

  @include hover {
    color: color(primary, 700);
  }

  svg {
    pointer-events: none;
  }
}
