.btn {
  border: none;
  padding: 0.75rem;
  border-radius: 0.25rem;
  color: white;
  background: color(primary, 500);
  transition: 150ms ease;
  display: inline-block;

  @include hover {
    background: color(primary, 700);
  }

  &:disabled,
  &[data-disabled] {
    background: color(gray, 300);
  }

  &[data-loading],
  &[data-success] {
    pointer-events: none;
  }

  &[data-loading],
  &[data-success] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &[data-loading] {
    background: color(primary, 700);
    color: color(primary, 100);
  }

  &[data-success] {
    svg {
      font-size: 1rem;
    }
  }

  &[data-success="true"] {
    background: color(green, 450);
  }

  &[data-success="false"] {
    background: color(red, 450);
  }

  // &-block {
  //   width: 100%;
  // }

  // &-danger {
  //   background: color(red, 400);
  //   color: color(red, 500);

  //   @include hover {
  //     background: color(red, 500);
  //     color: white;
  //   }
  // }

  // &-hiptser {
  //   color: color(primary, 500);
  //   background: color(primary, 200);

  //   @include hover {
  //     color: color(primary, 200);
  //     background: color(primary, 700);
  //   }
  // }
}

.inline {
  background: none;
  border: none;
  max-width: fit-content;
  color: color(gray, 400);
  font-size: 0.875rem;

  @include hover {
    color: color(gray, 500);
    box-shadow: inset 0 -1px 0 currentColor;
  }
}
