.btn {
  border: none;
  padding: 0.75rem;
  border-radius: 0.25rem;
  color: white;
  background: color(primary, 500);
  transition: 150ms ease;
  display: inline-block;

  @include hover {
    background: color(primary, 700);
  }

  // &-block {
  //   width: 100%;
  // }

  // &-danger {
  //   background: color(red, 400);
  //   color: color(red, 500);

  //   @include hover {
  //     background: color(red, 500);
  //     color: white;
  //   }
  // }

  // &-hiptser {
  //   color: color(primary, 500);
  //   background: color(primary, 200);

  //   @include hover {
  //     color: color(primary, 200);
  //     background: color(primary, 700);
  //   }
  // }

  // &-loading,
  // &-success {
  //   pointer-events: none;
  //   display: flex;
  //   justify-content: center;
  //   gap: 0.5rem;
  // }

  // &-loading {
  //   background: color(primary, 700);
  //   color: color(primary, 100);
  // }

  // &-success {
  //   background: color(green, 450);

  //   svg {
  //     font-size: 1.25rem;
  //   }
  // }

  // &-inline {
  //   background: none;
  //   border: none;
  //   max-width: fit-content;
  //   color: color(gray, 400);
  //   padding-bottom: 0.125rem;

  //   @include hover {
  //     color: color(gray, 500);
  //     box-shadow: inset 0 -1px 0 color(gray, 500);
  //   }
  // }
}
