.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  section {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
  }

  h1,
  h2 {
    text-align: center;
  }

  [data-buttons] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    button[type="reset"] {
      align-self: center;
    }

    p {
      color: color(gray, 600);
    }
  }
}
