// $appHeight: var(--app-height);
$headerHeight: 6rem;

$colors: (
  primary: (
    50: hsl(186, 100%, 94%),
    100: hsl(185, 94%, 87%),
    200: hsl(184, 80%, 74%),
    300: hsl(184, 65%, 59%),
    400: hsl(185, 57%, 50%),
    500: hsl(185, 62%, 45%),
    600: hsl(184, 77%, 34%),
    700: hsl(185, 81%, 29%),
    800: hsl(185, 84%, 25%),
    900: hsl(185, 91%, 17%),
  ),
  gray: (
    10: hsl(210, 36%, 98%),
    50: hsl(210, 36%, 96%),
    90: hsl(210, 36%, 93%),
    100: hsl(212, 33%, 89%),
    200: hsl(210, 31%, 80%),
    300: hsl(211, 27%, 70%),
    400: hsl(209, 23%, 60%),
    500: hsl(210, 22%, 49%),
    600: hsl(209, 28%, 39%),
    700: hsl(209, 34%, 30%),
    800: hsl(211, 39%, 23%),
    900: hsl(209, 61%, 16%),
    950: hsl(0, 0%, 13%),
  ),
  red: (
    400: hsl(355, 70%, 91%),
    450: hsl(355, 100%, 72%),
    500: hsl(355, 67%, 49%),
  ),
  green: (
    400: hsl(153, 31%, 86%),
    450: hsl(116, 46%, 49%),
    500: hsl(152, 69%, 19%),
  ),
);

$shadows: (
  100: (
    0 1px 3px 0 rgba(black, 0.1),
    0 1px 2px 0 rgba(black, 0.06),
  ),
  200: (
    0 4px 6px -1px rgba(black, 0.1),
    0 2px 4px -1px rgba(black, 0.06),
  ),
  300: (
    0 10px 15px -3px rgba(black, 0.1),
    0 4px 6px -2px rgba(black, 0.05),
  ),
  400: (
    0 20px 25px -5px rgba(black, 0.1),
    0 10px 10px -5px rgba(black, 0.04),
  ),
);
