.wrapper {
  height: 100vh;
  // height: $appHeight;
  display: flex;
  flex-direction: column;

  // &.modal {
  //   max-height: 100vh;
  //   // max-height: $appHeight;
  //   overflow: hidden;

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     background: rgba(color(gray, 900), 0.5);
  //   }
  // }
}
