.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  form {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    gap: 2rem;

    @include mobileL {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      > div:first-child {
        display: none;
      }
    }
  }
}

.stats {
  display: flex;
  justify-content: space-between;

  > span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: color(gray, 500);
    font-size: 0.875rem;
  }
}
