.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 4rem;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filters {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  @include mobileL {
    .field {
      &:first-child {
        display: none;
      }

      input {
        padding-left: 0;
        padding-right: 0;
      }

      label {
        left: 0;
      }

      svg {
        right: 0;
      }

      .select-dropdown {
        min-width: fit-content;
      }
    }
  }

  &-stats {
    display: flex;
    justify-content: space-between;

    .count {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: color(gray, 400);
    }
  }
}

$grid-gap: 1.5rem;
$grid-column-count: 4;
$grid-gap-width: calc(($grid-column-count - 1) * $grid-gap);
$grid-item-min-width: 18rem;
$grid-item-max-width: calc((100% - $grid-gap-width) / $grid-column-count);

.list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(max($grid-item-min-width, $grid-item-max-width), 1fr)
  );
  gap: $grid-gap;
  justify-items: center;

  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax($grid-item-min-width, 1fr));
  }

  .empty-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-transform: unset;
    color: color(gray, 500);
  }
}
