.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-self: center;

  @include mobile {
    gap: 0.75rem;
  }
}

.btn,
.arrow {
  padding: unset;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  color: color(gray, 500);
  border: none;
  background: color(gray, 10);

  @include hover {
    background: color(gray, 90);
  }
}

.btn {
  font-size: 0.875rem;

  &[data-active] {
    background: color(primary, 500);
    color: white;
    pointer-events: none;
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: color(gray, 500);
}
